{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'dashboard/updateIndexRows.js' %}"></script>
 
<link rel="stylesheet" href="{% static 'dashboard/style.css' %}">


<header class="header"></header>


<h1>Switch Info</h1>
{% block content %}
<div class="tableHolder">
    <table>
    <thead>
        <tr>
        <th>Dev Name</th>
        <th>Status</th>
        <th>CPU Percentage Used</th>
        <th>Memory Percentage Used</th>
        <th>Harddisk Percentage Used</th>
        <th>Dev Manufacturer</th>
        <th>Dev Model</th>
        <th>Dev OS</th>
        </tr>
    </thead>
    <tbody>
        {% for row_id,row in information.items %}
        <tr class="data-row" data-row-id="{{ row.id }}">
            
            <td><a href="/dashboard/switches/{{row.id}}">{{ row.dev_name }}</a></td>
            <td class="dev-status">
                {% if row.dev_status == 0 %}
                    <span class="good"></span>
                {% elif row.dev_status == 1 %}
                    <span class="okay"></span>
                {% elif row.dev_status == 2 %}
                    <span class="bad"></span>
                {% else %}
                    <span class="unknown"></span>
                {% endif %}
            </td>
            <td class="dev-cpu">{{ row.cpu_percentage_used }}</td>
            <td class="dev-mem">{{ row.memory_percentage_used }}</td>
            <td class="dev-hd">{{ row.harddisk_percentage_used }}</td>
            <td>{{ row.dev_manufacturer }}</td>
            <td>{{ row.dev_model }}</td>
            <td>{{ row.dev_os }}</td>
            
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}